
.produit-bloc {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px; /* Ajustez selon vos préférences */
    margin: 10px;
}

.produit-bloc-content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 250px; /* Ajustez selon vos préférences */
    margin: 10px;
}

.category {
    font-style: italic;
    color: darkblue
}


