
.publication-bloc {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px; /* Ajustez selon vos préférences */
    margin: 10px;
}

.publication-bloc-content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 250px; /* Ajustez selon vos préférences */
    margin: 10px;
}

.author {
    font-style: italic;
    color: darkblue
}

.publication-date {
    color: #4a4a4a; /* Couleur gris foncé */
    font-size: 0.8em; /* Taille un peu plus petite que le texte principal */
}

